Agenda_ICS/Agenda_ICS/bin/*
Agenda_ICS/Agenda_ICS/obj/*
Agenda_ICS/BddTest/bin/*
Agenda_ICS/BddTest/obj/*
Agenda_ICS/Console/bin/*
Agenda_ICS/Console/obj/*
Agenda_ICS/DatasBaseOnFile/bin/*
Agenda_ICS/DatasBaseOnFile/obj/*
Agenda_ICS/DatasBaseSQL/bin/*
Agenda_ICS/DatasBaseSQL/obj/*
Agenda_ICS/DatasBaseTest/bin/*
Agenda_ICS/DatasBaseTest/obj/*
Agenda_ICS/DatasModel/bin/*
Agenda_ICS/DatasModel/obj/*
Agenda_ICS/wpf_test/bin/*
Agenda_ICS/wpf_test/obj/*
Agenda_ICS/.vs
ArchiveDbBatigest/*